.box {
    width: 320px;
    height: 180px;
    background-color: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-button {
    background-color: #000;
    color: #FFF;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    top: -15px;
    left: -15px;
}

.time-video {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: #000;
    color: #FFF;
    padding: 5px 10px;
}