* {
    margin: 0;
}

.img__block .img__description {
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img__block .img__migos {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}