body {
    padding-left: 100px;
    height: 3000px;
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
    display: flex;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.sidebar1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #202226;
    width: 300px;
}

.sidebar2 {
    position: fixed;
    top: 0;
    left: 120px;
    bottom: 0;
    background-color: #2F3135;
    color: #FFF;
    width: 300px;
    padding: 15px 23px;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.mais {
    font-size: 20px;
    font-weight: 700;
    color: rgb(196, 192, 192);
}

.p1, .p2, .p3 {
    color: rgb(196, 192, 192);
    line-height: 30px;
    margin-top: 15px;
    font-family: Arial;
    display: flex;
    cursor: pointer;
    transition: background 0.4s;
}

.hashtag {
    margin-right: 12px;
}

.p1:hover, .p2:hover, .p3:hover {
    background-color: #3c3e42;
}