@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-box {
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 40px;
    margin: 13px;
}

.paragraph {
    font-weight: 400;
}

.span-underline {
    text-decoration: underline;
}
