* {
    margin: 0;
}

body {
    background-color: #8EC5FC;
}

img {
    width: 77px;
    border-radius: 50px;
}

.full-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container, .container2, .container3  {
    background-color: #FFF;
    width: 500px;
    padding: 25px;
}

.container {
    border-radius: 10px 10px 0 0;
}

.container3 {
    border-radius: 0 0 10px 10px;
}

.profile-picture, .paragraphs {
    display: inline-block;
    vertical-align: middle;
}

.paragraphs {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
}

.p2, .p3 {
    font-size: 17px;
    margin-bottom: 8px;
}


.btn1 {
    display: inline-block;
    margin-left: 217px
}

.btn2 {
    display: inline-block;
    margin-left: 226px
}

.btn3 {
    display: inline-block;
    margin-left: 243px
}

button {
    color: #FFF;
    background-color: #1877F2;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}