.search__bar {
    padding: 10px;
    color: rgb(107, 106, 106);
    border-radius: 7px;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}